*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
UE3_Hamming_Sort/UE2_DOKU.docx
*.docx
.metadata/**
.recommenders/**
*.out
UE5_TwoThreeFourSet/UE5_Kert.log
*.pdf
UE5_TwoThreeFourSet/UE5_Kert.tex
*.tex
