
#user-add-button {
  -fx-graphic: url('add.png');
  -fx-background-color: transparent;
}

#user-lock-button {
  -fx-graphic: url('lock.png');
  -fx-background-color: transparent;
  -fx-font-size: 18;
}

#user-unlock-button {
  -fx-graphic: url('unlock.png');
  -fx-background-color: transparent;
  -fx-font-size: 18;
}

#user-delete-button {
  -fx-graphic: url('delete.png');
  -fx-background-color: transparent;
  -fx-font-size: 18;
}

#user-edit-button {
  -fx-graphic: url('edit.png');
  -fx-background-color: transparent;
  -fx-font-size: 18;
}