
.add-button {
  -fx-graphic: url('add.png');
  
}

.lock-button {
  -fx-graphic: url('lock.png');
}

.unlock-button {
  -fx-graphic: url('unlock.png');
}

.delete-button {
  -fx-graphic: url('delete.png');
}

.edit-button {
  -fx-graphic: url('edit.png');
}

.image-button {
  -fx-background-color: transparent;	
}

.done-button {
  -fx-graphic: url('done.png');
}